@page
@model InyeccionDependenciaExplicado.Pages.CicloModel
@{
}

<h3>Demostracion del Ciclo de Vida.</h3>

<p>Ciclo de vida de las clases implementadas en el Contenedor de inversion de controles</p>


<table>
    <tbody>
        <tr>
            <td><strong>Transient: </strong></td>
            <td>@Model.TransientDePagina</td>
        </tr>
        <tr>
            <td><strong>Scoped:</strong></td>
            <td>@Model.ScopedDePagina</td>
        </tr>
        <tr>
            <td><strong>Singleton:</strong></td>
            <td>@Model.SingletonDePagina</td>
        </tr>
        <tr>
            <td><strong>Instancia Singleton:</strong></td>
            <td>@Model.SingletonInstanceDePagina</td>
        </tr>
    </tbody>
</table>

<h3>Valores del Servicio</h3>

<table>
    <tbody>
        <tr>
            <td><strong>Transient: </strong></td>
            <td>@Model.TransientDelServicio</td>
        </tr>
        <tr>
            <td><strong>Scoped:</strong></td>
            <td>@Model.ScopedDelServicio</td>
        </tr>
        <tr>
            <td><strong>Singleton:</strong></td>
            <td>@Model.SingletonDelServicio</td>
        </tr>
        <tr>
            <td><strong>Instancia Singleton:</strong></td>
            <td>@Model.SingletonInstanceDelServicio</td>
        </tr>
    </tbody>
</table>